/*Global CSS*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    font-size: 3rem;
    padding: 5rem 15rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    color: white;
}

nav h1 {
    font-size: 4.8rem;
    font-family: "Ysabeau Office", sans-serif;
}

nav .links {
    display: flex;
    gap: 10rem;
    align-items: center;
}

nav .links a {
    text-decoration: none;
    color: white;
}

nav .links button {
    padding: 1rem 1rem;
    border-radius: 25%;
    border: none;
    background: white;
}

nav .links button .material-symbols-outlined {
    font-size: 2.8rem !important;
}

/*Media Queries*/

@media screen and (max-width:860px) {

    nav h1 {
        font-size: 3rem;
    }

    nav .links a {
        display: none;
    }

}





