/*Global CSS*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    font-size: 2.4rem;
    padding: 2.5rem 5rem;
}

nav h1 {
    font-size: 3.6rem;
    font-family: "Ysabeau Office", sans-serif;
}

nav .links {
    display: flex;
    gap: 10rem;
    align-items: center;
}

nav .links a {
    text-decoration: none;
    color: black;
}

nav .links button {
    padding: 1rem 1rem;
    border-radius: 25%;
    border: none;
}

/*Media Queries*/

@media screen and (max-width:860px) {

    nav h1 {
        font-size: 3rem;
    }

    nav .links a {
        display: none;
    }

}





