@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

.background-image {
    background-image: url(photos/Landscape-Image-Medium.jpg);
    background-position: center;
    background-repeat: none;
    height:760px;
}

/*Header CSS*/


header {
    padding: 2rem 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid white;
}

header .links {
    display: none;
}

header .links a {
    color: white;
    text-decoration: none;
}

header .links a:hover{
    border-bottom: 1px solid white;
}

header h1 {
    font-size: 2.2rem;
    font-weight: 600;
}

header h1:hover{
    cursor:pointer;
}

header button {
    border:none;
    border-radius: 3px;
    padding: 5px 5px;
}

@media screen and (min-width: 820px){
    header {
        padding: 3rem 3rem;
    }

    header button {
        display: none;
    }

    header .links {
        display: flex;
        gap: 10rem;
        font-size: 1.6rem;
    }

    header svg {
        display: none;
    }

}

@media screen and (min-width: 1020px){

    header {
        padding: 3rem 4rem
    }

    header h1 {
        font-size: 2.4rem;
    }

    header .links {
        gap: 15rem;
    }
}

@media screen and (min-width: 1420px){

    header {
        padding: 4rem 5rem;
    }
    
    header h1 {
        font-size: 3rem;
    }

    header .links {
        gap: 25rem;
        font-size: 2rem;
    }
}


/*Hero CSS*/

section {
    height: 650px;
    display: flex;
    align-items: center;
}


section .hero-content {
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}


section .text-content {
    border: 1px solid white;
    background-color: rgba(0, 41, 0, 0.6);
    color: white;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
}

section .text-content h1 {
    padding-bottom: 1rem;
    font-size: 2rem;
}

section .sign-up-content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.5rem 1rem;
    color: black;
    border-radius: 10px;
}

section .sign-up-content h1{
    padding-bottom: 1.5rem;
    font-size: 2rem;
}

section .sign-up-button form {
    display: flex;
    flex-direction: column;
}

section .sign-up-content form input{
    margin-bottom: 3px;
    width: 75%;
}

section .sign-up-content form input::placeholder {
    color: lightgrey;
}

section .sign-up-content form p {
    padding: 8px 0 15px 0;
}

section .sign-up-content a {
    color: rgb(0, 41, 0)
}

section .sign-up-content .sign-up-button {
    font-size: 1.1rem;
    background-color: rgb(0, 41, 0);
    color: white;
    outline: none;
    padding: .75rem .75rem;
    border-radius: 5px;
}





@media screen and (min-width: 520px){
    section .text-content p {
        font-size: 1.4rem;
    }
    
    section .sign-up-content form input {
        margin-bottom: 6px;
        padding: 2px 0;
    }
    
    section .sign-up-content form input::placeholder {
        text-align: center;
    }
    
    section .sign-up-content form p {
        font-size: 1.1rem;
    }
    
    section .sign-up-content form .sign-up-button {
        font-size: 1.3rem;
    }
}






@media screen and (min-width: 820px){

    section {
        display: flex;
        align-items: center;
    }

    section .hero-content {
        padding: 5rem 5rem;
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

}
